
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary">Kategori Ekle</button>
        <button class="btn btn-secondary">Alt Kategori Ekle</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-30 has-scroll">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Üst Kategori</th>
                        <th>Kategori Adı</th>
                        <th>Ürün Sayısı</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>2025-01-15 14:32</td>
                        <td>100397</td>
                        <td>Samsung Galaxy S25 Ultra</td>
                        <td>PayPal</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
